<ion-view title="Dashboard">
  <ion-content class="has-header">
    <div class="card">
      <div class="item item-divider">
        Best times
      </div>
      <div class="item">
        Best over last 5: <solve-time class="padding-left" time='solveModel.averages.ao5.best.solveTime'></solve-time>
      </div>
      <div class="item">
        Best over last 10: <solve-time class="padding-left" time='solveModel.averages.ao10.best.solveTime'></solve-time>
      </div>
      <div class="item">
        Lifetime best: <solve-time class="padding-left" time='solveModel.averages.all.best.solveTime'></solve-time>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Average times
      </div>
      <div class="item">
        Average over last 5: <solve-time class="padding-left" time='solveModel.averages.ao5.solveTime'></solve-time>
      </div>
      <div class="item">
        Average over last 10: <solve-time class="padding-left" time='solveModel.averages.ao10.solveTime'></solve-time>
      </div>
      <div class="item">
        Lifetime average: <solve-time class="padding-left" time='solveModel.averages.all.solveTime'></solve-time>
      </div>
    </div>

    <ion-list type="list-inset" option-buttons="itemButtons">
        <div class="item item-divider">
          Solves
        </div>
      <ion-item ng-repeat="solve in solveModel.solves track by solve.state">
        {{solve.date | date:'yyyy-MM-dd HH:mm:ss'}}
        <solve-time time="solve.solveTime" class="padding-left"></time>
        <ion-option-button class="button button-assertive" ng-click="delete(solve)">
          <button class="button button-assertive">
            <i class="icon ion-ios7-minus"></i>
          </button>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
