<ion-view title="Scrambles">
  <ion-nav-buttons side="right">
    <button class="button button-energized" ng-click="scramble()">
        Scramble
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item class="scramble-item" ng-repeat="scramble in scrambles" type="item-text-wrap" href="#/tab/scramble/{{$index}}">
        <scramble-view scramble="scramble" width="100" resize=true></scramble-view>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
