<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="ca.bleathem.visualcubegenerator" version="0.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Solvica</name>
  <description>
        A visual cube scramble-generator and solve-timer.
    </description>
  <author email="bleathem@gmail.com" href="http://bleathem.ca/">
      Brian Leathem
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="splash" />
  <preference name="SplashScreenDelay" value="10000" />
  <feature name="Keyboard">
    <param name="ios-package" value="IonicKeyboard" onload="true" />
  </feature>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
