/* Empty. Add your own CSS if you like */
.list .scramble .moves {
    font-size: 80%;
}

.list .scramble .chunk:after {
    padding: 0;
    content: "";
}

.list .scramble .graphic {
    width: 100px;
}

.scramble .chunk {
    padding: 0;
    white-space: nowrap;
}
.scramble .chunk:after {
    padding: 0 1ex;
    content: "\2022";
}

.scramble .chunk:last-child:after {
    content: "";
    padding: 0;
}

.detail {
    padding-top: 20px;
    text-align: center;
}

.detail .scramble .moves {
    font-size: 120%;
}

.detail .graphic {
    padding-top: 20px;
    width: 300px;
    margin: auto;
}

.detail button.button-large,
.timer-modal button.button-large {
    min-height: 200px;
    font-size: 600%;
}

.timer-card {
  line-height: 500%;
  text-align: center;
}

.timer {
  font-size: 500%;
}
