/* Empty. Add your own CSS if you like */
.list .scramble .moves {
    font-size: 80%;
}

.list .scramble .chunk:after {
    padding: 0;
    content: "";
}

.list .scramble .graphic {
    display: inline-block;
    width: 100px;
}

.list .scramble .timer-card {
  display: inline-block;
  float:right;
  margin: 1ex 0 0 0;
}

.list .scramble .timer-label, .list .scramble .timer-value {
  display: inline-block;
}

.scramble .chunk {
    padding: 0;
    white-space: nowrap;
}
.scramble .chunk:after {
    padding: 0 1ex;
    content: "\2022";
}

.scramble .chunk:last-child:after {
    content: "";
    padding: 0;
}

.detail {
    padding-top: 20px;
    text-align: center;
}

.detail .scramble .moves {
    font-size: 120%;
}

.detail .graphic {
    padding-top: 20px;
    width: 300px;
    margin: auto;
}

.detail button.button-large,
.timer-modal button.button-large {
    min-height: 200px;
    font-size: 600%;
}

.timer-modal .timer-card {
  text-align: center;
}

.timer-modal .timer-text {
  line-height: 200%;
  font-size: 350%;
  white-space: nowrap;
}

.detail .scramble .timer-text {
  line-height: 125%;
  font-size: 250%;
  display:inline-block;
  text-align: left;
}

.detail .scramble .timer-label, .detail .scramble .timer-value {
}
