#messages {
  color: lightgrey; }

.list-group .scramble .moves {
  font-size: 80%; }
.list-group .scramble .chunk:after {
  padding: 0;
  content: ""; }
.list-group .scramble .graphic {
  display: inline-block;
  width: 100px; }
.list-group .scramble .timer-card {
  display: inline-block;
  float: right;
  margin: 1ex 0 0 0; }

.scramble .chunk {
  padding: 0;
  white-space: nowrap; }
.scramble .chunk:after {
  padding: 0 1ex;
  content: "\2022"; }
.scramble .chunk:last-child:after {
  content: "";
  padding: 0; }

.detail {
  padding-top: 20px;
  text-align: center; }
  .detail .scramble .moves {
    font-size: 120%; }
  .detail .scramble .timer-card .item {
    text-align: center;
    line-height: 225%;
    font-size: 250%; }
  .detail .graphic {
    padding-top: 20px;
    width: 300px;
    margin: auto; }

.detail button.button-large, .timer-modal button.button-large {
  min-height: 200px;
  font-size: 600%; }

.timer-modal .timer-card .item {
  text-align: center;
  line-height: 200%;
  font-size: 350%; }

