@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(roboto.woff) format('woff');
}

.google-sign-in {
  display: inline-block;
  background: #dd4b39;
  color: white;
  width: 235px;
  border-radius: 5px;
  white-space: nowrap;
}

.google-sign-in:hover {
  background: #e74b37;
  cursor: pointer;
}

.google-sign-in span.label {
  font-weight: bold;
}

.google-sign-in span.icon, .google-sign-in span.my-clock-icon {
  background: url('g_plus_button.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  height: 35px;
  border-right: #bb3f30 1px solid;
}

.google-sign-in span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 25px;
  padding-right: 35px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', arial, sans-serif;
}
