<div class="container">
  <section class="panel panel-default">
    <div class="panel-heading">
      <h4>Account</h4>
    </div>
    <div class="panel-body">
      <div ng-if="auth.user">
        <profile profile="auth.user.googleAccount">
          Solvi.ca profile: <a ui-sref="visualCubeGenerator.main.profile({userId: auth.user._id})">{{getProfileUrl()}}</a>
        </profile>
        <hr></hr>
      </div>
      <g-plus-button ng-click="auth.user ? logout() : authorize()" logged-in="auth.user"></g-plus-button>
      <pre ng-show="message">{{message}}</pre>
    </div>
  </section>
  <section class="panel panel-default">
    <div class="panel-heading">
      <h4>Categories <span class="label label-info">{{auth.category || 'Default'}}</span></h4>

    </div>
    <div class="panel-body" ng-hide="auth.user">
      Sign-in to create additional categories.
    </div>
    <div class="panel-body" ng-show="auth.user">
      <p>Use <em>categories</em> to groups solves and their associated statistics.  For example, create a cetegory for specific cubes, or solving techniques.</p>
      <form class="form-inline" role="form">
        <label for="activeCategory">Active category:</label>
        <select class="form-control" class="category" ng-model="selectedCategory" ng-options="c as c for c in auth.user.categories" id="activeCategory">
          <option value="">Default</option>
        </select>
        <button type="submit" class="btn btn-primary" ng-click="selectCategory()">Select category</button>
        <button type="submit" class="btn btn-warning" ng-click="deleteCategory()">Delete category</button>
      </form>
      <hr />
      <form class="form-inline" role="form">
        <label for="newCategory">New category:</label>
        <input type="text" class="form-control" id="newCategory" ng-model="newCategory" />
        <button type="submit" class="btn btn-default" ng-click="addNewCategory()">Add category</button>
      </form>
      <div class="alert alert-danger" role="alert" ng-show="addNewCategoryMessage">
        {{addNewCategoryMessage}}
      </div>
    </div>
  </section>
  <section class="panel panel-default">
    <div class="panel-heading">
      <h4>Data Export</h4>
    </div>
    <div class="panel-body">
      <div ng-show="auth.user">
        <p>
          Export your solve history as a <a href="http://en.wikipedia.org/wiki/Comma-separated_values">CSV file</a>:
        </p>
        <button ng-click="getFile()" class='btn btn-primary active' href="/solve/solves.csv">Export Solves</button>
      </div>
      <div ng-hide="auth.user">
        <p>
          Sign-in to export your solve history as a <a href="http://en.wikipedia.org/wiki/Comma-separated_values">CSV file</a>.
        </p>
      </div>
    </div>
  </section>
  <section class="panel panel-default">
      <div class="panel-heading">
        <h4>Delete Solve History</h4>
      </div>
      <div class="panel-body">
        <div class="alert alert-warning" role="alert">
          <strong>Warning:</strong> Deleting solves is irreversible.
        </div>
        <div class="alert alert-info" role="alert" ng-show="auth.user">
          Since are not logged-in, only local solves will be deleted.  Any remote solves will be downloaded when you log back in.
        </div>
        <div class="alert alert-info" role="alert" ng-show="!auth.user">
          Since you are not logged-in, only local solves will be deleted.  Any remote solves will be downloaded when you log back in.
        </div>
        <p>
          <button ng-click="deleteAll()" class="btn btn-warning active">Delete All Solves</button>
        </p>
        <div class="alert alert-{{deleteStatus.class}}" role="alert" ng-show="deleteStatus.message">
          <p>{{deleteStatus.message.local}}</p>
          <p>{{deleteStatus.message.remote}}</p>
        </div>
    </div>
  </section>
</div>
