<ion-view title="Dashboard">
  <ion-content class="has-header">
    <div class="card">
      <div class="item item-divider">
        Best times
      </div>
      <div class="item">
        Best over last 5: <solve-time ng-show="solveModel.averages.ao5" class="padding-left" time='solveModel.averages.ao5.best.solveTime'></solve-time>
      </div>
      <div class="item">
        Best over last 10: <solve-time ng-show="solveModel.averages.ao5" class="padding-left" time='solveModel.averages.ao10.best.solveTime'></solve-time>
      </div>
      <li class="item" ng-show="solveModel.averages.all.n < 100">
        Best over last {{solveModel.averages.all.n}}: <solve-time class="padding-left" time='solveModel.averages.all.best.solveTime'></solve-time>
      </li>
      <li class="item" ng-show="solveModel.averages.all.n >= 100">
        Best over last 100: <solve-time class="padding-left" time='solveModel.averages.ao100.best.solveTime'></solve-time>
      </li>

    </div>

    <div class="card">
      <div class="item item-divider">
        Average times
      </div>
      <li class="item">
        Average over last 5:
        <span ng-show="solveModel.averages.ao5">
          <solve-time class="padding-left" time='solveModel.averages.ao5.mean'></solve-time> &plusmn; {{solveModel.averages.ao5.standardDeviation | solveTime}}
        </span>
      </li>
      <li class="item">
        Average over last 10:
        <span ng-show="solveModel.averages.ao5">
          <solve-time class="padding-left" time='solveModel.averages.ao10.mean'></solve-time> &plusmn; {{solveModel.averages.ao10.standardDeviation | solveTime}}
        </span>
      </li>
      <li class="item" ng-show="solveModel.averages.all.n < 100">
        Average over last {{solveModel.averages.all.n}}: <solve-time class="padding-left" time='solveModel.averages.all.mean'></solve-time> &plusmn; {{solveModel.averages.all.standardDeviation | solveTime}}
      </li>
      <li class="item" ng-show="solveModel.averages.all.n >= 100">
        Average over last 100: <solve-time class="padding-left" time='solveModel.averages.ao100.mean'></solve-time> &plusmn; {{solveModel.averages.ao100.standardDeviation | solveTime}}
      </li>
    </div>

    <ion-list type="list-inset" option-buttons="itemButtons">
        <div class="item item-divider">
          Solves
        </div>
      <ion-item ng-repeat="solve in solveModel.solves track by solve.state">
        {{solve.date | date:'yyyy-MM-dd HH:mm:ss'}}
        <solve-time time="solve.solveTime" class="padding-left"></time>
        <ion-option-button class="button button-assertive" ng-click="delete(solve)">
          <button class="button button-assertive">
            <i class="icon ion-ios7-minus"></i>
          </button>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
