<div class="container-fluid">
  <h2>Scrambles</h2>
  <section>
    <div class="detail">
      <scramble-view scramble="scramble"></scramble-view>
      <div ng-hide="scramble.solveTime">
        <div class="timer">
          <i class="my-clock-icon"></i>
          <timer autostart = false>{{minutes}}:{{sseconds}}.{{millis}}</timer>
        </div>
      </div>
      <button class="btn btn-primary btn-lg active"
              role="button"
              ng-click="startTimer()"
              ng-disabled="timerRunning || scramble.solveTime"
              data-toggle="modal" data-target="#timerModal">
        Start
      </button>
      <button class="btn btn-danger btn-lg active"
              role="button"
              ng-click="stopTimer()"
              ng-disabled="!timerRunning">
        Stop
      </button>
    </div>
  </section>
</div>
