<div class="container">
  <solve-statistics averages="solveModel.averages"></solve-statistics>
  <section>
    <h3>Solves</h3>
    <div class="panel panel-info">
      <div class="panel-heading">
          <span class="pull-right">
            <button class="btn btn-xs btn-primary" ng-click="synchSolves()" ng-if="auth.user" title="Synchronize solves">
              <span class="my-refresh-icon"></span>
            </button>
          </span>
          Category: <span class="label label-info">{{auth.category || 'Default'}}</span>
      </div>
      <div class="panel-body" ng-show="!solveModel.solves || !solveModel.solves.length">
        None
      </div>
      <div class="list-group solve-list">
        <a ng-repeat="solve in solveModel.solves track by solve.state"
           class="list-group-item"
           ui-sref="visualCubeGenerator.main.solve-detail({solveId: $index})"
           tabindex="{{$index +1}}"
           select-solve
           select-index="$index"
           >
          <div class="solve">
            <div class="part">
              <p>{{solve.date | date:'MMM d HH:mm'}}</p>
              <p>
                <solve-time time="solve.solveTime"></solve-time>
              </p>
              <span class="label label-warning"
                      ng-if="!solve._id"
                      tooltip="Local solve. Log in to save it to the server.">
                <span class="my-refresh-icon"></span>
              </span>
            </div>
            <div class="part graphic">
              <scramble-graphic state="solve.state"></scramble-graphic>
            </div>
            <div class="part moves">
              <scramble-moves moves="solve.moves"></scramble-moves>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
</div>
