<div class="container">
  <section>
    <div class="row">
      <h3 class="col-sm-12">Statistics</h3>
      <div class="col-sm-6">
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">
            Best times
          </li>
          <li class="list-group-item">
            Best over last 5: <solve-time class="padding-left" time='solveModel.averages.ao5.best.solveTime'></solve-time>
          </li>
          <li class="list-group-item">
            Best over last 10: <solve-time class="padding-left" time='solveModel.averages.ao10.best.solveTime'></solve-time>
          </li>
          <li class="list-group-item" ng-show="solveModel.averages.all.n < 100">
            Best over last {{solveModel.averages.all.n}}: <solve-time class="padding-left" time='solveModel.averages.all.best.solveTime'></solve-time>
          </li>
          <li class="list-group-item" ng-show="solveModel.averages.all.n >= 100">
            Best over last 100: <solve-time class="padding-left" time='solveModel.averages.ao100.best.solveTime'></solve-time>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">
            Average times
          </li>
          <li class="list-group-item">
            Average over last 5: <solve-time class="padding-left" time='solveModel.averages.ao5.mean'></solve-time> &plusmn; {{solveModel.averages.ao5.standardDeviation | solveTime}}
          </li>
          <li class="list-group-item">
            Average over last 10: <solve-time class="padding-left" time='solveModel.averages.ao10.mean'></solve-time> &plusmn; {{solveModel.averages.ao10.standardDeviation | solveTime}}
          </li>
          <li class="list-group-item" ng-show="solveModel.averages.all.n < 100">
            Average over last {{solveModel.averages.all.n}}: <solve-time class="padding-left" time='solveModel.averages.all.mean'></solve-time> &plusmn; {{solveModel.averages.all.standardDeviation | solveTime}}
          </li>
          <li class="list-group-item" ng-show="solveModel.averages.all.n >= 100">
            Average over last 100: <solve-time class="padding-left" time='solveModel.averages.ao100.mean'></solve-time> &plusmn; {{solveModel.averages.ao100.standardDeviation | solveTime}}
          </li>
        </ul>
      </div>
    </div>
    <div class="list-group solve-list" ng-show="solveModel.solves && solveModel.solves.length">
      <h3 class="list-group-item list-group-item-info">
        <span class="pull-right">
          <button class="btn btn-xs btn-primary" ng-click="synchSolves()">
            <span class="my-refresh-icon"></span>
          </button>
        </span>
        Solves
      </h3>
      <a ng-repeat="solve in solveModel.solves track by solve.state"
         class="list-group-item"
         href="#/solve/{{$index}}"
         tabindex="{{$index +1}}"
         select-solve
         select-index="$index"
         >
        <div class="solve">
          <div class="part">
            <p>{{solve.date | date:'MMM d HH:mm'}}</p>
            <p>
              <solve-time time='solve.solveTime'></solve-time>
            </p>
          </div>
          <div class="part graphic">
            <scramble-graphic state="solve.state"></scramble-graphic>
          </div>
          <div class="part moves">
            <scramble-moves moves="solve.moves"></scramble-moves>
          </div>
        </div>
      </a>
    </div>
  </section>
</div>
