<!--
  This template loads for the 'tab.scramble-detail' state (app.js)
  'scramble' is a $scope variable created in the ScaramblessCtrl controller (cube-controllers.js)
  The ScramblesCtrl pulls data from the Scrambles service (cube-services.js)
  The Scrambles service returns an array of scramble data
-->
<ion-view title="Scramble">
  <ion-nav-buttons side="left">

   <a class="button button-energized" href="#/tab/scrambles">
     <i class="icon ion-ios7-arrow-back">Back</i>
   </a>
  </ion-nav-buttons>

  <ion-content has-header="true" padding="false">
    <div class="detail">
      <scramble-view scramble="scramble"></scramble-view>
      <button class="button button-full button-large button-balanced"
              ng-click="startTimer()"
              ng-hide="scramble.time">
        Start
      </button>
    </div>
  </ion-content>
</ion-view>
