<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="Scramble">
  <ion-nav-buttons side="left">

   <a class="button button-calm" href="#/tab/scrambles">
     <i class="icon ion-ios7-arrow-back">Back</i>
   </a>
  </ion-nav-buttons>

  <ion-content has-header="true" padding="false">
    <div class="detail">
      <scramble scramble-model="scramble"></scramble>
    <button class="button button-full button-large button-balanced"
            ng-click="openModal()">
      Start
    </button>
    </div>
  </ion-content>
</ion-view>
