<ion-view title="Dashboard">
  <ion-content class="has-header">
    <div class="card">
      <div class="item item-divider">
        Best times
      </div>
      <div class="item">
        Best time:
      </div>
      <div class="item">
        Average over last 5:
      </div>
      <div class="item">
        Average over last 10:
      </div>
    </div>

    <ion-list type="list-inset" option-buttons="itemButtons">
        <div class="item item-divider">
          Solves
        </div>
      <ion-item ng-repeat="solve in solves">
        {{solve.date | date:'short'}}
        : <i class="icon ion-clock padding-horizontal"></i>
        {{solve.time | time}}
        <ion-option-button class="button-assertive" ng-click="delete(solve)">
          <i class="icon ion-ios7-minus"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
