<ion-view title="Dashboard">
  <ion-content class="has-header">
    <div class="card">
      <div class="item item-divider">
        Best times
      </div>
      <div class="item">
        Best over last 5: {{averages.ao5.best.time | time}}
      </div>
      <div class="item">
        Best over last 10: {{averages.ao10.best.time | time}}
      </div>
      <div class="item">
        Lifetime best: {{averages.all.best.time | time}}
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Average times
      </div>
      <div class="item">
        Average over last 5: {{averages.ao5.time | time}}
      </div>
      <div class="item">
        Average over last 10: {{averages.ao10.time | time}}
      </div>
      <div class="item">
        Lifetime average: {{averages.all.time | time}}
      </div>
    </div>

    <ion-list type="list-inset" option-buttons="itemButtons">
        <div class="item item-divider">
          Solves
        </div>
      <ion-item ng-repeat="solve in solves">
        {{solve.date | date:'yyyy-MM-dd HH:mm:ss'}}
        <time time="solve.time"></time>
        <ion-option-button class="button button-assertive" ng-click="delete(solve)">
          <button class="button button-assertive">
            <i class="icon ion-ios7-minus"></i>
          </button>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
