@import "lib/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

$fa-font-path: "../fonts";
@import "lib/fontawesome/scss/font-awesome";

.jumbotron h1 {
  font-size: 70px;
}

.solvica {
  font-family: 'Satisfy', cursive;
}

.scramble-list, .solve-list {

  .scramble, .solve {
    display: table-row;
  }
  .part {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-right: 5px;
  }

  .part:last-child {
    padding-right: 0px;
  }

  .graphic {
    width: 100px;
    min-height: 72px;
  }

  .moves {
    font-size: 100%;
    white-space: normal;
  }
}

.scramble-list .moves .time {
  display: inline-block;
  padding-top: 15px;
}

.scramble-list .tabbable {
  outline:none;
}

.scramble, .solve {
  .chunk {
      padding: 0;
      white-space: nowrap;
  }
  .chunk:after {
      padding: 0 1ex;
      content: "\2022";
  }

  .chunk:last-child:after {
      content: "";
      padding: 0;
  }
}

.detail {
  padding-top: 20px;
  text-align: center;

  .scramble {
    .moves {
        font-size: 120%;
    }

    .timer-card .item {
      text-align: center;
      line-height: 225%;
      font-size: 350%;
    }
  }

  .graphic {
      padding-top: 20px;
      width: 300px;
      min-height: 205px;
      margin: auto;
  }

  .buttons {
    margin: auto;
    text-align: center;
  }
}

.cubeState {
  font-family: monospace;

  .cubeRow {
    display: block;
  }

  .cubeRow:after {
      padding: 0 1ex;
      content: "";
  }

  .cubeFace {
    display: inline-block;
  }
}

.timer {
  text-align: center;
  line-height: 225%;
  font-size: 350%;
}

.my-clock-icon {
  @extend .fa;
  @extend .fa-clock-o;
}

.my-refresh-icon {
  @extend .fa;
  @extend .fa-refresh;
}
